apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: infra
spec:
  type: NodePort
  ports:
    - port: 3306
      nodePort: 30306
  selector:
    app: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: redis-svc
  namespace: infra
spec:
  type: NodePort
  ports:
    - port: 6379
      nodePort: 30379
  selector:
    app: redis
---
apiVersion: v1
kind: Service
metadata:
  name: consul-ui
  namespace: infra
spec:
  type: NodePort
  ports:
    - port: 8500
      nodePort: 30500
  selector:
    app: consul
